<!DOCTYPE html>
<html lang="en" style="background-color: bisque;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invalid/Flagged</title>
</head>
<body>
    <script> window.alert(`{{ element }} is invalid/flagged by admin !`)</script>
    <img src="/static//images/request_error.png" alt="error" style="position: absolute;top: 22%;left: 42%;width: 18vw;">
    <span style="color: red;font-size: large;font-family: cursive;font-weight: bold;position: absolute;top: 65%;left: 44%;">Something went wrong !</span>
</body>
</html>