<!DOCTYPE html>
<html lang="en" style="background-color: bisque;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unauthorized Access</title>
</head>
<body>
    <img src="/static/images/unauthorized.png" alt="unauthorized" style="width: 18vw;height: 18vw;position: absolute;top: 22%;left: 42%;">
    <span style="color: red;font-family: cursive;font-size: large;font-weight: bold; position: absolute;top: 65%;left: 34.5%;">You are not authorized to access the requested route !</span>
</body>
</html>